[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
wheel = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
pytest-raises = "*"
pytest-runner = "*"
python-creole = "*"

[packages]
tqdm = "*"
persist-queue = "*"

[requires]
python_version = "3.6"
